body {
    font-family: 'Roboto', sans-serif;
    background-color: #1b4965;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 500px;
}

label {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1b4965;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #1b4965;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #62b6cb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: #479ab1;
}

.required {
    color: red;
}
